extends layout

block content
  h1= title
  div(id='chat', ng-app="chatApp", ng-controller="chatCtrl")
    ul
      li(ng-repeat="m in messages", ng-cloak)
        strong {{m.sender}} 
        span {{m.msg}}
     form(ng-submit="chat(msg)")
       input(type='text', ng-model='msg')
       button Send
